body {
    background-color: antiquewhite;
}

.fundo_laranja {
    position: absolute;
    width: 1000px;
    height: 300px;
    background-color: rgb(233, 159, 106);
    top: 0px;
    left: 300px;
    z-index: 2;
}

.fundo_branco {
    position: absolute;
    width: 1000px;
    height: 600px;
    background-color: white;
    top: 300px;
    left: 300px;
    z-index: 2;
}

.pesquisa {
    position: absolute;
    width: 500px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    top: 130px;
    left: 500px;
    z-index: 3;
}

.barradepesquisa {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(71, 70, 70);
    top: 130px;
    left: 1000px;
    z-index: 3;
}

/* MENUS /////////////////////////////*/

.menu1 {
    position: absolute;
    width: 150px;
    height: 40px;
    background-color: rgb(185, 172, 172);
    top: 350px;
    left: 450px;
    z-index: 2;
}

.menu1 .submenu1 {
    position: absolute;
    width: 70px;
    height: 10px;
    background-color: rgb(254, 254, 254);   
    z-index: 1;
    top: 15px;
    left: 40px;
}

.menu2 {
    position: absolute;
    width: 150px;
    height: 40px;
    background-color: rgb(185, 172, 172);
    top: 350px;
    left: 620px;
    z-index: 2;
}

.menu2 .submenu2 {
    position: absolute;
    width: 70px;
    height: 10px;
    background-color: rgb(254, 254, 254);
    z-index: 1;
    top: 15px;
    left: 40px;
}

.menu3 {
    position: absolute;
    width: 150px;
    height: 40px;
    background-color: rgb(185, 172, 172);
    top: 350px;
    left: 790px;
    z-index: 2;
}

.menu3 .submenu3 {
    position: absolute;
    width: 70px;
    height: 10px;
    background-color: rgb(254, 254, 254);
    z-index: 1;
    top: 15px;
    left: 40px;
}

.menu4 {
    position: absolute;
    width: 150px;
    height: 40px;
    background-color: rgb(185, 172, 172);
    top: 350px;
    left: 960px;
    z-index: 2;
}

.menu4 .submenu4 {
    position: absolute;
    width: 70px;
    height: 10px;
    background-color: rgb(254, 254, 254);
    z-index: 1;
    top: 15px;
    left: 40px;
}

/* CARDS /////////////////////////////*/


.card1 {
    position: absolute;
    width: 210px;
    height: 200px;
    background-color: rgb(233, 159, 106);
    top: 450px;
    left: 370px;
    z-index: 2;
}

.card2 {
    position: absolute;
    width: 220px;
    height: 200px;
    background-color: rgb(160, 159, 159);
    top: 450px;
    left: 590px;
    z-index: 2;
}

.card3 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    top: 450px;
    left: 820px;
    z-index: 2;
}

.card_longo {
    position: absolute;
    width: 200px;
    height: 410px;
    background-color: rgb(160, 159, 159);
    top: 450px;
    left: 1030px;
    z-index: 2;
}


.card4 {
    position: absolute;
    width: 210px;
    height: 200px;
    background-color: aquamarine;
    top: 660px;
    left: 370px;
    z-index: 2;
}

.card_deitado {
    position: absolute;
    width: 430px;
    height: 200px;
    background-color: rgb(233, 159, 106);
    top: 660px;
    left: 590px;
    z-index: 2;
}